/* You can add global styles to this file, and also import other style files */
$font: 'Courier New', Courier, monospace;
$background-color: #D9D9D9;
$primary-color: #b70000;
$secondary-color: #000080;
$tertiary-color: #ffdd00;

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: $font;
  background: $background-color;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
