<div class="container">
  <img alt="logo-marvel" src="{{ logo }}" />
  <h1 i18n>Welcome to Marvels Game.</h1>
  <h3 i18n>To start new match, select the characters in the fields below.</h3>
  <section>
    <app-form-input
      fieldName="Character 1"
      fieldPlaceholder="Type the character's name"
    />
    <app-form-input
      fieldName="Character 2"
      fieldPlaceholder="Type the character's name"
    />
  </section>
  <app-button
    buttonLabel="Start match"
    (onClick)="onStartGame()"
    [disabled]="signalService.isDisabled()"
  ></app-button>
</div>
